# Name: $NAME
# Private: $PRIVATE_DNS $PRIVATE_ADDRESS
# Public: $PUBLIC_DNS $PUBLIC_ADDRESS
Host $POOL
  HostName $PUBLIC_DNS
  User core
  Port 22
  IdentityFile $IDENTITY_FILE
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null

