#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Button Generator
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=njphjoojdldjpogfhbncccnkldebgbnd
Icon=chrome-njphjoojdldjpogfhbncccnkldebgbnd-Default
NoDisplay=true
StartupWMClass=crx_njphjoojdldjpogfhbncccnkldebgbnd
